<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_07b10e5ccb714c879d6f6df1031296fd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_07b10e5ccb714c879d6f6df1031296fd" ></div>
        
</body>
<script>    
    
            var map_07b10e5ccb714c879d6f6df1031296fd = L.map(
                "map_07b10e5ccb714c879d6f6df1031296fd",
                {
                    center: [37.7765, -122.4172],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_40149b4e07f141c2bc43fc02fb92ee53 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_07b10e5ccb714c879d6f6df1031296fd);
        
    
            var feature_group_cc1dbf17acd64690a606fc546df2040b = L.featureGroup(
                {}
            ).addTo(map_07b10e5ccb714c879d6f6df1031296fd);
        
    
            var marker_58ed62634a6b40a1943ebea15f200af7 = L.marker(
                [16.655510250000003, -62.61612602138846],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_088b4ea15fde4f4db8e373172a8bb67b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_58ed62634a6b40a1943ebea15f200af7.setIcon(icon_088b4ea15fde4f4db8e373172a8bb67b);
        
    
        var popup_4d3a836e07d2498a91534ca0ecf01fe7 = L.popup({"maxWidth": "100%"});

        
            var html_511e49a5d10c43b6b45f6871bde07945 = $(`<div id="html_511e49a5d10c43b6b45f6871bde07945" style="width: 100.0%; height: 100.0%;">olena</div>`)[0];
            popup_4d3a836e07d2498a91534ca0ecf01fe7.setContent(html_511e49a5d10c43b6b45f6871bde07945);
        

        marker_58ed62634a6b40a1943ebea15f200af7.bindPopup(popup_4d3a836e07d2498a91534ca0ecf01fe7)
        ;

        
    
    
            var marker_dd56c1875397472fb878cdcda5fef0da = L.marker(
                [49.7461968, 31.8358321],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_3ed335b77eab457a992638d6b4b63cec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_dd56c1875397472fb878cdcda5fef0da.setIcon(icon_3ed335b77eab457a992638d6b4b63cec);
        
    
        var popup_223d92d5d4fa44b18ed0d6dac5e89f2b = L.popup({"maxWidth": "100%"});

        
            var html_ebc59a6593004dce9b9c79a5f1c81303 = $(`<div id="html_ebc59a6593004dce9b9c79a5f1c81303" style="width: 100.0%; height: 100.0%;">Alina</div>`)[0];
            popup_223d92d5d4fa44b18ed0d6dac5e89f2b.setContent(html_ebc59a6593004dce9b9c79a5f1c81303);
        

        marker_dd56c1875397472fb878cdcda5fef0da.bindPopup(popup_223d92d5d4fa44b18ed0d6dac5e89f2b)
        ;

        
    
    
            var marker_92c6065796a1475885000a9f7dc23c67 = L.marker(
                [49.2496969, 2.6284616],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_905810e06d9a4600b1485547d52a1ea2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_92c6065796a1475885000a9f7dc23c67.setIcon(icon_905810e06d9a4600b1485547d52a1ea2);
        
    
        var popup_0c37a39244da40008c854cc49e9c2055 = L.popup({"maxWidth": "100%"});

        
            var html_55337f257e104378aa709630c0cdb776 = $(`<div id="html_55337f257e104378aa709630c0cdb776" style="width: 100.0%; height: 100.0%;">Victoria Maksymiuk</div>`)[0];
            popup_0c37a39244da40008c854cc49e9c2055.setContent(html_55337f257e104378aa709630c0cdb776);
        

        marker_92c6065796a1475885000a9f7dc23c67.bindPopup(popup_0c37a39244da40008c854cc49e9c2055)
        ;

        
    
    
            var marker_be6e57ffd4d8464bb4379e5ba4a1efe9 = L.marker(
                [28.5217667, -81.9779835],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_31150a97f1e24b1c8fbab416479af122 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_be6e57ffd4d8464bb4379e5ba4a1efe9.setIcon(icon_31150a97f1e24b1c8fbab416479af122);
        
    
        var popup_d0cd9c173183425d8d139a50686c3a32 = L.popup({"maxWidth": "100%"});

        
            var html_5a74e05891dc4bf6be2966f63fae0de3 = $(`<div id="html_5a74e05891dc4bf6be2966f63fae0de3" style="width: 100.0%; height: 100.0%;">Юля, але не Колодій</div>`)[0];
            popup_d0cd9c173183425d8d139a50686c3a32.setContent(html_5a74e05891dc4bf6be2966f63fae0de3);
        

        marker_be6e57ffd4d8464bb4379e5ba4a1efe9.bindPopup(popup_d0cd9c173183425d8d139a50686c3a32)
        ;

        
    
    
            var marker_d9454fc4fa584908a5a3e924f7ed830d = L.marker(
                [-24.094108600000002, 134.682],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_9702feaf8dbc49d58df3b3ab7fa1305d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_d9454fc4fa584908a5a3e924f7ed830d.setIcon(icon_9702feaf8dbc49d58df3b3ab7fa1305d);
        
    
        var popup_732bfae42d7a4b29b3c02d0377478985 = L.popup({"maxWidth": "100%"});

        
            var html_969541ec07034e208e7dc1974abc2197 = $(`<div id="html_969541ec07034e208e7dc1974abc2197" style="width: 100.0%; height: 100.0%;">Marrrrtusia</div>`)[0];
            popup_732bfae42d7a4b29b3c02d0377478985.setContent(html_969541ec07034e208e7dc1974abc2197);
        

        marker_d9454fc4fa584908a5a3e924f7ed830d.bindPopup(popup_732bfae42d7a4b29b3c02d0377478985)
        ;

        
    
    
            var marker_bcf1a9f653e84b5fa8dbc6815eb177e3 = L.marker(
                [49.1231968, 30.284832100000003],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_629f6f890f9145d4a46861dde99d416f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_bcf1a9f653e84b5fa8dbc6815eb177e3.setIcon(icon_629f6f890f9145d4a46861dde99d416f);
        
    
        var popup_b14e8a2814ab43e3a3067f579fdd34e9 = L.popup({"maxWidth": "100%"});

        
            var html_188ffdd61e364082b22c4d38b3968f06 = $(`<div id="html_188ffdd61e364082b22c4d38b3968f06" style="width: 100.0%; height: 100.0%;">aline</div>`)[0];
            popup_b14e8a2814ab43e3a3067f579fdd34e9.setContent(html_188ffdd61e364082b22c4d38b3968f06);
        

        marker_bcf1a9f653e84b5fa8dbc6815eb177e3.bindPopup(popup_b14e8a2814ab43e3a3067f579fdd34e9)
        ;

        
    
    
            var marker_b9d3750434ec47ad8ccbe0ef2e1fca6e = L.marker(
                [48.8501968, 32.1428321],
                {}
            ).addTo(feature_group_cc1dbf17acd64690a606fc546df2040b);
        
    
            var icon_5cb42307c3b84c278006b9f8fc27e4e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "lightgray", "prefix": "glyphicon"}
            );
            marker_b9d3750434ec47ad8ccbe0ef2e1fca6e.setIcon(icon_5cb42307c3b84c278006b9f8fc27e4e8);
        
    
        var popup_4d001ccd39834c96a5d0773d73de39fb = L.popup({"maxWidth": "100%"});

        
            var html_37e60c57032b4cacb73e7a8a7cc2ad21 = $(`<div id="html_37e60c57032b4cacb73e7a8a7cc2ad21" style="width: 100.0%; height: 100.0%;">glibesyck</div>`)[0];
            popup_4d001ccd39834c96a5d0773d73de39fb.setContent(html_37e60c57032b4cacb73e7a8a7cc2ad21);
        

        marker_b9d3750434ec47ad8ccbe0ef2e1fca6e.bindPopup(popup_4d001ccd39834c96a5d0773d73de39fb)
        ;

        
    
</script>