<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

    </head>
    <body>
        Please enter you bearer token and desired Twitter username without @ sign
        <form action="/map" method="post">
            <label for="fname">Bearer Token:</label>
            <input type="text" name="bearer_token" id="bearer_token" value="odsdovnsovnsdovnsdovnsdovnsdovn%knvsnvsdv"><br>
            <label for="fname">Username:</label>
            <input type="text" name="username" id="username" value="BarackObama">
            <input type="submit" value="Submit">
        </form>

    </body>
</html>